artifacts
cache
coverage
coverage.json
node_modules
package-lock.json
temp
.DS_Store
.env
archived
.vscode

# Front-end?
node_modules
.pnp.*
.yarn/*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

